.activity {
  margin-top: 24px;
}

.activity__title {
  margin-bottom: 4px;
}

.activity__subtitle {
  margin-bottom: 16px;
}

.search {
  width: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  border: none;
  outline: none;
  text-indent: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.014em;
  margin-bottom: 24px;
}

.search-block {
  position: relative;
}

.search__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  margin: auto;
}

.city {
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 16px;
}

.city__offices {
  display: none;
}
