*
    box-sizing: border-box
    margin: 0
    padding: 0

html
    font-family: 'Inter', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px
    letter-spacing: -0.014em
    color: $black

body
    background-color: $bg-gray 

.container
    margin-left: 96px
    margin-right: 24px

ul
    list-style: none

a
    text-decoration: none
    color: $black

.title
    font-weight: 700
    font-size: 36px
    line-height: 48px
    letter-spacing: -0.022em

.subtitle
    font-size: 14px
    letter-spacing: -0.006em
    font-weight: 400
.buttons
    display: flex
    grid-gap: 8px
.btn
    font-size: 14px
    letter-spacing: -0.006em
    border-radius: 7px
    padding: 8px 24px
    transition: all .3s
    max-width: fit-content
    cursor: pointer
    &--active, &:hover
        background-color: #fff
        font-weight: 600
    &--orange
        background-color: $orange
        &:hover
            background-color: #fff
            font-weight: 600

