$orange: #F97316
$light-orange: #FFEFD7
$icon-gray: #83909A
$table-gray: #F6F8F9
$white: #FFFFFF
$black: #252C32
$bg-gray: #ECEEEF
$text-gray: #84919A
$city-orange: #FFFBF5
$light-blue: #DCF0FF
$blue: #156CA9
$light-green: #DFFFF0
$green: #0BA744
$light-red: #FEE2E2
$red: #F91616
$stroke-gray: #E5E9EB
$office: #F6F8F9

@import 'grid'
@import 'menu'
@import 'activity'
@import 'info-stand'