$orange: #F97316
$light-orange: #FFEFD7
$icon-gray: #83909A
$table-gray: #F6F8F9
$white: #FFFFFF
$black: #252C32
$bg-gray: #ECEEEF
$text-gray: #84919A

@import 'grid'
@import 'menu'
@import 'activity'