$orange: #F97316
$light-orange: #FFEFD7
$icon-gray: #ccd1d4
$table-gray: #4E4E4E
$white: #252C32
$black: #fff
$bg-gray: #212121
$text-gray: #84919A
$city-orange: #212121
$light-blue: #DCF0FF
$blue: #156CA9
$light-green: #DFFFF0
$green: #0BA744
$light-red: #FEE2E2
$red: #F91616
$stroke-gray: #707070
$office: #444444

@import 'grid'
@import 'menu'
@import 'activity'