* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.014em;
  color: #252C32;
}

body {
  background-color: #ECEEEF;
}

.container {
  margin-left: 96px;
  margin-right: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #252C32;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.022em;
}

.subtitle {
  font-size: 14px;
  letter-spacing: -0.006em;
  font-weight: 400;
}

.buttons {
  display: flex;
  grid-gap: 8px;
}

.btn {
  font-size: 14px;
  letter-spacing: -0.006em;
  border-radius: 7px;
  padding: 8px 24px;
  transition: all 0.3s;
  max-width: fit-content;
  cursor: pointer;
}
.btn--active, .btn:hover {
  background-color: #fff;
  font-weight: 600;
}
.btn--orange {
  background-color: #F97316;
}
.btn--orange:hover {
  background-color: #fff;
  font-weight: 600;
}

.menu {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 72px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(7.25px);
  z-index: 100;
}
.menu p {
  display: none;
  margin-left: 18px;
}
.menu--active {
  width: 260px;
}
.menu--active p {
  display: block;
}
.menu__items {
  margin-top: 16px;
}
.menu__items li ul {
  display: none;
  margin-top: 4px;
  padding-left: 30px;
}
.menu__items li ul.list--active {
  display: block;
}
.menu__item, .menu__open {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 6px;
  padding: 4px;
  min-height: 32px;
  cursor: pointer;
}
.menu__item svg, .menu__open svg {
  fill: #83909A;
  width: 18px;
  margin-left: 6px;
  margin-right: 4px;
}
.menu__item:hover, .menu__item--active, .menu__open:hover, .menu__open--active {
  background-color: #FFEFD7;
  transition: all 0.3s;
}
.menu__item:hover svg, .menu__item--active svg, .menu__open:hover svg, .menu__open--active svg {
  fill: #F97316;
}
.menu__icon {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
  margin-right: 4px;
  margin-left: 4px;
}
.menu__icon span {
  background-color: #83909A;
  border-radius: 100px;
  width: 18px;
  height: 2px;
}
.menu__icon--active span:nth-child(2) {
  display: none;
}
.menu__icon--active span:first-child {
  transform: rotate(-45deg);
}
.menu__icon--active span:last-child {
  transform: rotate(45deg);
  margin-top: -6px;
}

.activity {
  margin-top: 24px;
}
.activity__title {
  margin-bottom: 4px;
}
.activity__subtitle {
  margin-bottom: 16px;
}

.search {
  width: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  border: none;
  outline: none;
  text-indent: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.014em;
  margin-bottom: 24px;
}
.search-block {
  position: relative;
}
.search__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  margin: auto;
}

.city {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 16px;
}
.city__offices {
  display: none;
}
.city__offices--active {
  display: block;
}
.city__header {
  background-color: #FFFBF5;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.city__header .left {
  display: flex;
  align-items: center;
  flex-basis: 80%;
}
.city__name {
  display: flex;
  align-items: center;
  flex-basis: 20%;
}
.city__name p {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #F97316;
}
.city__info {
  display: flex;
  align-items: center;
}
.city__info p {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252C32;
}
.city__info p:last-child {
  margin-left: 32px;
}
.city__arrow {
  transform: rotate(180deg);
}
.city__arrow--active {
  transform: rotate(0deg);
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table tr {
  display: table-row;
  padding: 12px;
}
.table tr:not(:last-child) {
  border-bottom: 1px solid #E5E9EB;
}
.table tr:nth-child(2n) {
  background-color: #F6F8F9;
}
.table th {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.018em;
  text-transform: uppercase;
  color: #84919A;
  text-align: left;
  padding: 12px;
  padding-top: 16px;
}
.table td {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252C32;
  padding: 12px;
}
.table .td-flex {
  display: flex;
  align-items: center;
  grid-gap: 8px;
}
.table .td-meneger__name {
  display: flex;
  align-items: center;
  justify-content: start;
  grid-gap: 8px;
}
.table .td-meneger__name p {
  font-size: 14px;
}
.table .td-meneger__name p:first-child {
  color: #83909A;
}
.table .td-meneger__info a {
  font-size: 12px;
  color: #156CA9;
}
.table .td-meneger__info a:last-child {
  margin-left: 8px;
}

.office {
  padding: 12px 8px 8px 8px;
  background-color: #F6F8F9;
  border-radius: 8px;
  margin-top: 16px;
}
.office__main {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.office__body {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 8px;
}
.office__name {
  display: flex;
  grid-gap: 8px;
  align-items: center;
  margin-right: 32px;
  cursor: pointer;
}
.office__name .office__info p:first-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
}
.office__name .office__info p:last-child {
  font-size: 14px;
}
.office__arrow {
  max-width: 16px;
  transform: rotate(180deg);
}
.office__arrow--active {
  transform: rotate(0deg);
}
.office__status {
  display: flex;
  align-items: center;
  grid-gap: 24px;
}
.office__dop {
  margin-bottom: 12px;
  display: none;
}
.office__dop--active {
  display: block;
}

.office__btn {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  border-radius: 100px;
  max-width: fit-content;
}
.office__btn img {
  margin-right: 4px;
}
.office__btn--blue {
  color: #156CA9;
  background-color: #DCF0FF;
}
.office__btn--green {
  color: #0BA744;
  background-color: #DFFFF0;
}
.office__btn--red {
  color: #F91616;
  background-color: #FEE2E2;
}

.buttons-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */